<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Yummy Bookmarks{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block javascript %}{% endblock %}
  </head>
  <body>
      <h1><a href="/">Yummy Bookmarks</a></h1>
      {% if user.is_authenticated %}
      <p>Logged in as <a href="{% url user-list user.username %}">{{ user.username }}</a></p>
      <a href="/import/">Import</a>
      <a href="/accounts/logout/">Logout</a>
      {% else %}
      <a href="/accounts/login/">Login</a>
      {% endif %}
      {% block body %}
      {% endblock %}
  </body>
</html>
